body {
  background-color: #3e455e;
}

h1 {
  color: whitesmoke; 
  margin-left: 0.8em;
}

.App {
  margin-right: 4em;
}

.navbar {
  margin-right: -4em;
}

.table {
  text-align: center;
  margin: 2em;
  background-color: #3e455e;
  border-color: whitesmoke;
  color: whitesmoke;
}


.home-link {
  font-size: 2.0rem;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white !important;
  margin-left: 30px;
}

.home-link:hover {
  color: #2c9cbc !important;
}

.tableCellButtons {
  margin: 5px;
  width: 185px;
}

.modal-button {
  margin: 5px;
}
